@model PaginacaoLanchesViewModel

@{
    ViewData["Title"] = Resource.DESCRITIVO_LANCHE_PLURAL;
}

<h1>@Resource.DESCRITIVO_LANCHE_PLURAL</h1>

<form method="get" class="form-inline">

    <input name="filter" class="form-control" placeholder="filtro"
           value="@ViewBag.filter" />

    <button type="submit" class="btn btn-primary">Procurar</button>
</form>

Total de Pedidos : @Model.QuantidadeRegistros
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="@((Model.PageNumber > 1)? "page-item" : "page-item disabled")"><a class="page-link" href="@Url.Action("Index", new { filter = ViewBag.filter, pageindex = Model.PageNumber - 1 })"> Anterior </a></li>

            @for (int contador = 1; contador <= Model.TotalPages; contador++)
            {
                <li class="@((contador == Model.PageNumber)? "page-item active" : "page-item")"><a class="page-link" href="@Url.Action("Index", new { filter = ViewBag.filter, pageindex = contador })">@contador</a></li>
            }

            <li class="@((Model.PageNumber < Model.TotalPages)? "page-item" : "page-item disabled")"><a class="page-link" href="@Url.Action("Index", new { filter = ViewBag.filter, pageindex = Model.PageNumber + 1 })">Próxima</a></li>

        </ul>
    </nav>
</div>

<div class="row">
    <p>
        <a asp-action="Create">@Resource.DESCRITIVO_CRIAR_NOVO</a> |
        <a asp-controller="AdminLanchesReport" asp-action="LanchesCategoriaReport">Gerar Relatório</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.IsLanchePreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanche.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lanches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLanchePreferido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.LancheId">@Resource.DESCRITIVO_EDITAR</a> |
                    <a asp-action="Details" asp-route-id="@item.LancheId">@Resource.DESCRITIVO_DETALHES</a> |
                    <a asp-action="Delete" asp-route-id="@item.LancheId">@Resource.DESCRITIVO_DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
